<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161545670-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-161545670-1');
  </script>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="<%= post.meta_description %>"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="/public/images/favicon.ico">
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat|Nunito&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <title>Psykologie | <%= post.meta_title %></title>
</head>
<body>
  <%- include('../partials/navigation') %>
  <main class="postpage">
    <div class="postpage__container">
      <div class="blog">
        <div class="blog__info">
          <h1><%= post.title %></h1>
          <p>By: <%=post.primary_author.name %></p>
        </div>
        <div class="blog__body" id="blog__body">
          <%- post.html %>
        </div>
        <ul class="blog__tags">
          <h4>Related Categories</h4>
          <% post.tags.map(tag => { %>
            <li><%= tag.name %></li>
          <% }) %>
        </ul>
      </div>
      <div class="blogsidebar">
        <div class="subscribe">
          <h4 class="subscribe__title">Train Your Brain!</h4>
          <p class="subscribe__text">Get tips and business content straight to your inbox</p>
          <form method='POST' action="/subscribe">
            <input
            type='email'
            name='email'
            class='subscribe__input'
            placeholder='Enter Email'
            pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$'
            required
            />
            <button class="subscribe__button">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </main>
  <%- include('../partials/footer') %>